<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
<div class="container account-settings">
	<div class="section-title">Edit my account</div>
	<div class="basic">
		<%= devise_error_messages! %>

		<%= f.label :first_name %>
		<%= f.text_field :first_name %>

		<%= f.label :last_name %>
		<%= f.text_field :last_name %>

		<%= f.label :username %>
		<%= f.text_field :username %>

		<%= f.label :email %>
		<%= f.email_field :email %>

		<%= f.label :bio %>
		<%= f.text_area :bio %>

		<fieldset>
			<legend>Change Password</legend>
			<%= f.label :password %><small>leave blank, if you do not wish to change it</small>
			<%= f.password_field :password, autocomplete: "off" %>
			<%= f.label :password_confirmation %>
			<%= f.password_field :password_confirmation %>
			<%= f.label :current_password %>
			<%= f.password_field :current_password %>
		</fieldset>

		<%= f.submit "Save changes", :class => 'button small success' %>
	</div>

	<div class="files">
		<div class="avatar">
			<%= f.label :avatar %>
			<%= f.file_field :avatar %>
			<% if current_user.avatar? %>
				<%= image_tag current_user.avatar.url(:thumb), class: 'avatar' %>
			<% end %>
		</div>
		<div class="cover-image">
			<%= f.label "Profile cover image" %>
			<%= f.file_field :cover_image %>
			<% if current_user.cover_image? %>
				<%= image_tag current_user.cover_image.url(:large), class: 'cover-image' %>
			<% end %>
		</div>
	</div>

</div>
<% end %>
