<div id="articleEditor" class="article-creator">

	<div class="content-creation">
		<%= form_for @article, url: articles_path do |f| %>
			<%= f.collection_select(:article_set_id, current_user.article_sets, :id, :name) %>
			<%= f.file_field :image, class: "image-upload" %>
			<%=	f.text_field :title, placeholder: "Title", class: "title" %>
			<%= f.text_field :subtitle, placeholder: "Subtitle", class: "subtitle" %>
			<%=	f.hidden_field :content, class: "content-editor-content" %>
			<div id="content-editor" class="content-editor article-main-content">
				<%= @article.content.html_safe %>
			</div>
			<%=	f.submit "Save Changes", :class => 'button success' %>
		<% end %>
		<%= button_to "Delete", articles_path, method: :delete %>
	</div>

	<div id="triggerEditorClose" class="close"><i class="fa fa-times"></i></div>
</div>