<div id="articleCreator" class="article-creator">

	<div class="content-creation">
		<%= form_for current_user.articles.new do |f| %>
			<%= f.collection_select(:article_set_id, ArticleSet.all, :id, :name) %>
			<%= f.file_field :image, class: "image-upload" %>
			<%=	f.text_field :title, placeholder: "Title", class: "title" %>
			<%= f.text_field :subtitle, placeholder: "Subtitle", class: "subtitle" %>
			<%=	f.hidden_field :content, class: "content-editor-content" %>
			<div id="content-editor" class="content-editor article-content-styles">
			</div>
			<%=	f.submit "Create Article", :class => 'button success' %>
		<% end %>
	</div>


	<div id="triggerArticleClose" class="close"><i class="fa fa-times"></i></div>
</div>

<div id="overlay" class="overlay"></div>