<div class="article-editor">

	<%= form_for @article do |f| %>

		<%= f.collection_select(:article_set_id, ArticleSet.all, :id, :name) %>

		<%= f.file_field :image, class: "image-upload" %>
		<%=	f.text_field :title, placeholder: "Title", class: "title" %>
		<%= f.text_field :subtitle, placeholder: "Subtitle", class: "subtitle" %>
			
		<%=	f.hidden_field :content, class: "content-editor-content" %>
		<div id="content-editor">
		</div>

		<%=	f.submit "Create Article", :class => 'button small' %>

	<% end %>

</div>
