<div class="article-view">

	<% if @article.image? %>
		<div class="background-image"><div class="bg" style="background:url('<%= @article.image.url(:large) %>') no-repeat center center fixed;"></div></div>
	<% end %>

	<div class="container">
		
		<div class="col-8 av-info">
			<div class="title"><%= @article.title %></div>
			<div class="subtitle"><%= @article.subtitle %></div>
		</div>
		<div class="col-4 info">
			<!-- <div class="social-share">SHARE BUTTONS HERE EVENTUALLY</div> -->
			<div class="time-set"><%= time_ago_in_words(@article.created_at) %> ago</div>
			<div class="user-info">
				<div class="name"><%= @article.user.name %></div>
				<%= image_tag @article.user.avatar.url(:thumb), class: 'profile-img' %>
			</div>
		</div>

	</div>

	<div class="container">
		
		<div class="col-8 push-2 article-main-content">
			<%= sanitize @article.content.html_safe, tags: %w(p div b u i a h1 h2 h3 h4 h5 ul ol li br), attributes: %w(href class id) %>
		</div>

	</div>
</div>

<!-- <div class="article-view">
	
	<% if @article.image? %>
		<div class="background-image" style="background-image:url(<%= @article.image.url(:large) %>);"></div>
	<% end %>
	<div class="container article-container">
		<div class="title">
			<%= @article.title %> 
			<% if user_signed_in? && current_user == @article.user %><a class="ghost primary" id="edit_article_btn">Edit</a><% end %>
		</div>
		<div class="subtitle"><%= @article.subtitle if @article.subtitle.present? %></div>
		<div class="content article-content-styles">
			<%= sanitize @article.content.html_safe, tags: %w(p div b u i a h1 h2 h3 h4 h5 ul ol li br), attributes: %w(href class id) %>
		</div>

		<div class="divider"></div>
	</div>
</div>

<div class="container">
	<div class="section-title">More From <%= @article.user.name %></div>
	<div class="user-articles">
		<div class="articles">
			<% @more_from.delete(@article) %>
			<% @more_from.each do |article| %>
				<% @article = article %>
				<%= render 'articles/cards/article1' %>
			<% end %>
		</div>
	</div>

	<div class="section-title">Recommended</div>
	<div class="recommended-article">
		<%= render 'articles/cards/article3' %>
	</div>
</div>
-->
<% if user_signed_in? && current_user == @article.user %>
	<%= render 'articles/edit' %>
<% end %>