<% if @article.can_edit?(current_user) %>
	<%= render 'articles/edit' %>
<% end %>

<% @main_article = @article %>

<div class="article-view">

	<% if @article.image? %>
		<div class="background-image"><div class="bg" style="background:url('<%= @article.image.url(:large) %>') no-repeat center center fixed;"></div></div>
	<% end %>

	<div class="container">
		<% if @article.can_edit?(current_user) %><a class="ghost primary" id="edit_article_btn">Edit</a><% end %>
		<div class="col-8 av-info">
			<div class="title"><%= @article.title %></div>
			<div class="subtitle"><%= @article.subtitle %></div>
		</div>
		<div class="col-4 info">
			<!-- <div class="social-share">SHARE BUTTONS HERE EVENTUALLY</div> -->
			<div class="time-set">published <%= time_ago_in_words(@article.created_at) %> ago</div>
			<div class="user-info">
				Created by <a href="<%= user_profile_path(@article.user.username) %>"><%= @article.user.name %></a>
			</div>
		</div>

	</div>

	<div class="container">
		
		<div class="col-8 push-2 article-main-content">
			<%= sanitize @article.content.html_safe, tags: %w(p div b u i a h1 h2 h3 h4 h5 ul ol li br), attributes: %w(href class id) %>
		</div>
		<div class="col-8 push-2 actions">
			<hr class="divider">
			<div>
				<div class="donate">
					<p class="like">Like this article?</p>
					<p class="donation">Make a <a href="#">Donation</a> to <%= @article.user.first_name %>.</p>
				</div>
			</div>
		</div>

	</div>
</div>

<div class="container">
	<div class="section-title">More From <%= @article.user.name %></div>
	<div class="user-articles">
		<div class="articles">
			<% @article.more_from_author(3).each do |article| %>
				<% @article = article %>
				<%= render 'articles/cards/article1' %>
			<% end %>
		</div>
	</div>
	
	<div class="section-title">More like this</div>
	<div class="user-articles">
		<div class="articles">
			<% @article.similar(3).each do |article| %>
				<% @article = article %>
				<%= render 'articles/cards/article1' %>
			<% end %>
		</div>
	</div>

	<div class="section-title">Recommended</div>
	<div class="recommended-article">
		<div class="articles">
			<% @article = @main_article.recommended %>
			<%= render 'articles/cards/article3' %>
		</div>
	</div>
</div>