<%= content_for(:title) { @article.title } %>
<% content_for :meta do %>

<meta name="description" content="<%= "#{@article.title} published by #{@article.user.name}." %>" />

<!-- Twitter Card data --> 
<meta name="twitter:card" content="summary_large_image"> 
<meta name="twitter:site" content="@oovrepub"> 
<meta name="twitter:title" content="<%= truncate(@article.title, length: 70) %>"> 
<meta name="twitter:description" content="<%= truncate(strip_tags(@article.content), length: 200) %>"> 
<!-- <meta name="twitter:creator" content="@author_handle">  -->
<!-- Twitter Summary card images must be at least 200x200px --> 
<meta name="twitter:image:src" content="<%= @article.image.url(:small) %>">

<!-- Open Graph data --> 
<meta property="og:title" content="<%= @article.title %>" /> 
<meta property="og:type" content="article" /> 
<meta property="og:url" content="<%= article_show_path(@article.user.username, @article.id, @article.param_title) %>" />
<meta property="og:image" content="<%= @article.image.url(:small) %>" />
<meta property="og:description" content="<%= truncate(strip_tags(@article.title), length: 70) %>" />
<meta property="article:published_time" content="<%= @article.created_at %>" /> 
<meta property="article:modified_time" content="<%= @article.updated_at %>" /> 
<!-- <meta property="article:section" content="Article Section" />  -->
<!-- <meta property="article:tag" content="Article Tag" />  -->
<meta property="og:site_name" content="Oovre" /> 
<!-- <meta property="fb:admins" content="Facebook numeric ID" /> -->

<% end %>

<div class="article-view">

	<% if @article.image.exists? %>
		<div class="background-image"><div class="bg" style="background:url('<%= @article.image.url(:large) %>') no-repeat center center fixed;"></div></div>
	<% end %>

	<div class="container">
		<div class="col-8 av-info">
			<div class="title"><%= @article.title %></div>
			<div class="subtitle"><%= @article.subtitle %></div>
		</div>
		<div class="col-4 info">
			<!-- <div class="social-share">SHARE BUTTONS HERE EVENTUALLY</div> -->
			<div class="time-set">published <%= time_ago_in_words(@article.created_at) %> ago</div>
			<div class="user-info">
				Created by <a href="<%= user_profile_path(@article.user.username) %>"><%= @article.user.name %></a>
			</div>
			<% if @article.can_edit?(current_user) %><a class="ghost primary" id="edit_article_btn">Edit</a><% end %>
		</div>

	</div>

	<div class="container">

		<div class="col-8 push-2 article-main-content">
			<%= sanitize @article.content.html_safe, tags: %w(p div b u i a h1 h2 h3 h4 h5 ul ol li br), attributes: %w(href class id) %>
		</div>
		<div class="col-8 push-2 actions">
			<hr class="divider">
			<div>
				<div class="donate">
					<p class="like">Like this article?</p>
					<p class="donation">Make a <a href="#">Donation</a> to <%= @article.user.first_name %>.</p>
				</div>
			</div>
		</div>

	</div>
</div>

<div class="container">
	<div class="section-title">More From <%= @article.user.name %></div>
	<div class="user-articles">
		<div class="articles">
			<% @article.more_from_author(3).each do |article| %>
				<%= render 'articles/cards/article1', article: article %>
			<% end %>
		</div>
	</div>

	<div class="section-title">More like this</div>
	<div class="user-articles">
		<div class="articles">
			<% @article.similar(3).each do |article| %>
				<%= render 'articles/cards/article1', article: article %>
			<% end %>
		</div>
	</div>
</div>