<div class="article-view">
	
	<% if @article.image? %>
		<div class="background-image" style="background-image:url(<%= @article.image.url(:large) %>);"></div>
	<% end %>
	<div class="container article-container">
		<div class="title">
			<%= @article.title %> 
			<% if user_signed_in? && current_user == @article.user %><a class="ghost primary" id="edit_article_btn">Edit</a><% end %>
		</div>
		<div class="subtitle"><%= @article.subtitle if @article.subtitle.present? %></div>
		<div class="content article-content-styles">
			<%= sanitize @article.content.html_safe, tags: %w(p div b u i a h1 h2 h3 h4 h5 ul ol li), attributes: %w(href class id) %>
		</div>
		DEBUG STUFFS:
		<div class="content">
			<%= @article.content %>
		</div>
	</div>

</div>

<% if user_signed_in? && current_user == @article.user %>
	<%= render 'articles/edit' %>
<% end %>