<div class="profile-header">
	<div class="cover-container">
		<% if @user.cover_image? %>
			<%= image_tag @user.cover_image.url, :class => 'cover' %>
		<% end %>
		<div class="cover-overlay"></div>
	</div>
	<div class="user">
		<div class="follow">
			<% if @user != current_user %>
				<button name="follow_user" id="follow_user" data-user-id="<%= @user.id %>" class="button small success">Follow <%= @user.first_name %></button>
			<% end %>
		</div>
		<div class="info">
			<%= image_tag @user.avatar.url(:thumb), :class => 'avatar' %>
			<div class="name"><%= @user.name %></div>
			<div class="bio"><%= @user.bio if !@user.bio.blank? %></div>
		</div>
		<div class="stats">
			<div class="stat">
				<div class="num"><%= @user.articles.count %></div>
				<div class="name">posts</div>
			</div>
<!--  <div class="stat">
				<div class="num">25</div>
				<div class="name">followers</div>
			</div> -->
			<div class="stat">
				<div class="num"><%= @user.visit.unique_visits rescue 0 %></div>
				<div class="name">page views</div>
			</div>
		</div>
	</div>
</div>

<div class="articles-container">
	<div class="articles">
		<% for article in @user.recent_articles(5) do %>
			<div class="article">
				<a href="<%= article_path(article) %>">
					<div class="article-container">
						<div class="background"></div>
						<div class="title"><%= article.title %></div>
						<div class="subtitle"><%= article.subtitle if !article.subtitle.blank? %></div>
					</div>
				</a>
			</div>
		<% end %>
	</div>
</div>
