<div class="profile-header">
	<div class="cover-container">
		<% if @user.cover_image? %>
			<%= image_tag @user.cover_image.url, :class => 'cover' %>
		<% end %>
		<div class="cover-overlay"></div>
	</div>
	<div class="user">
		<div class="follow">
			<% if @user != current_user %>
				<% if current_user.following?(@user.id) %>
					<button id="following-user" class="button small primary">Following <%= @user.first_name %></button>
					<button id="unfollow-user" data-user-id="<%= @user.id %>" class="button small alert" style="display:none;">Unfollow <%= @user.first_name %></button>
				<% else %>
					<button name="follow_user" id="follow-user" data-user-id="<%= @user.id %>" class="button small success">Follow <%= @user.first_name %></button>
				<% end %>
			<% end %>
		</div>
		<div class="info">
			<%= image_tag @user.avatar.url(:thumb), :class => 'avatar' %>
			<div class="name"><%= @user.name %></div>
			<div class="bio"><%= @user.bio if !@user.bio.blank? %></div>
		</div>
		<div class="stats">
			<div class="stat">
				<div class="num"><%= @user.articles.count rescue 0 %></div>
				<div class="name">posts</div>
			</div>
		  <div class="stat">
				<div class="num"><%= @user.followers.count rescue 0 %></div>
				<div class="name">followers</div>
			</div>
			<div class="stat">
				<div class="num"><%= @user.visit.unique_visits rescue 0 %></div>
				<div class="name">page views</div>
			</div>
		</div>
	</div>
</div>

<div class="articles-container">
	<div class="articles">
		<% for article in @user.recent_articles(10) do %>
			<div class="article">
				<a href="<%= article_path(article) %>">
					<div class="article-container">
						<div class="background">
							<% if article.image? %>
								<%= image_tag article.image.url(:small) %>
							<% end %>
						</div>
						<div class="title"><%= article.title %></div>
						<div class="subtitle"><%= article.subtitle if !article.subtitle.blank? %></div>
					</div>
				</a>
			</div>
		<% end %>
	</div>
</div>
