<!-- <div class="header">

	<div class="header-content">
		<a href="<%= user_home_path %>" class="logo left">
			<%= image_tag "oovre-logo.png" %>
		</a>


		<% if user_signed_in? %>
		
			<ul class="navigation">
				<li><%= link_to "Home", user_home_path %></li>
				<li><a href="#">Explore</a></li>
				<li><%= link_to "Dashboard", user_dashboard_path %></li>
			</ul>
			<div class="user-nav">
				<div class="new-article"><a id="new_article_btn" class="ghost">New Article</a></div>
				<div class="user-profile">
					<a  href="<%= user_profile_path current_user.username %>"><%= image_tag current_user.avatar.url(:thumb), :class => 'avatar' %>
					</a>
					<div class="dropdown">
						<ul>
							<li><%= link_to "Settings", edit_user_registration_path %></li>
							<li><%= link_to "Logout", destroy_user_session_path, :method => :delete %></li>
						</ul>
					</div>
				</div>
			</div>

		<% else %>
			
			<ul class="navigation">
				<li><%= link_to "Home", user_home_path %></li>
				<li><%= link_to "About", page_about_path %></li>
				<li><%= link_to "Team", page_team_path %></li>
			</ul>

		<% end %> 

		<% if user_signed_in? %>
			<div class="navigation left">
				<ul>
					<li><%= link_to "Home", user_home_path %></li>
					<li><a href="#">Explore</a></li>
					<li><%= link_to "Dashboard", user_dashboard_path %></li>
				</ul>
			</div>
			<div class="user-navigation right">
				<a href="<%= article_new_path %>">
					<div class="create-post"><i class="fa fa-plus"></i></div>
				</a>
				<a href="<%= user_profile_path current_user.username %>">
					<%= image_tag current_user.avatar.url(:thumb), :class => 'avatar' %>
				</a>
				<ul>
					<li><%= link_to "Settings", edit_user_registration_path %></li>
					<li><%= link_to "Logout", destroy_user_session_path, :method => :delete %></li>
				</ul>
			</div>
		<% else %>
			<div class="guest-navigation right">
				<ul>
					<li><%= link_to "Login", new_user_session_path %></li>
					<li><%= link_to "Register", new_user_registration_path %></li>
				</ul>
			</div>
		<% end %>
	</div>

</div>
<div class="padded-top"></div> -->


<div class="header">
	
	<div class="hc-container">
		<a href="<%= user_home_path %>" class="logo"><%= image_tag "oovre-logo.png" %></a>
		<ul class="navigation">
			<li><%= link_to "Home", user_home_path %></li>
			<li><a href="#">Explore</a></li>
			<li><%= link_to "Dashboard", user_dashboard_path %></li>
		</ul>
		<div class="user-nav">
			<div class="new-article"><a id="new_article_btn" class="ghost">New Article</a></div>
			<div class="user-profile">
				<a href="<%= user_profile_path(current_user.username) %>"><%= image_tag current_user.avatar.url(:thumb), class: 'avatar' %></a>
				<div class="dropdown">
					<ul>
						<li><%= link_to "Settings", edit_user_registration_path %></li>
						<li><%= link_to "Logout", destroy_user_session_path, :method => :delete %></li>
					</ul>
				</div>
			</div>
		</div>
	</div>

</div>

<div class="padded-top"></div>