<!-- <%= link_to "Logout", destroy_user_session_path, :method => :delete %> -->

<div class="header">

	<div class="header-content">
		<a href="<%= user_home_path %>">
			<%= image_tag "blogee-logo.png", :class => 'logo left' %>
		</a>

		<% if user_signed_in? %>
			<div class="navigation left">
				<ul>
					<li><%= link_to "Home", user_home_path %></li>
					<li><a href="#">Explore</a></li>
					<li><%= link_to "Dashboard", user_dashboard_path %></li>
				</ul>
			</div>
			<div class="user-navigation right">
				<a href="<%= article_new_path %>">
					<div class="create-post"><i class="fa fa-plus"></i></div>
				</a>
				<a href="<%= user_profile_path current_user.username %>">
					<%= image_tag current_user.avatar.url(:thumb), :class => 'avatar' %>
				</a>
				<ul>
					<li><%= link_to "Settings", edit_user_registration_path %></li>
					<li><%= link_to "Logout", destroy_user_session_path, :method => :delete %></li>
				</ul>
			</div>
		<% else %>
			<div class="guest-navigation right">
				<ul>
					<li><%= link_to "Login", new_user_session_path %></li>
					<li><%= link_to "Register", new_user_registration_path %></li>
				</ul>
			</div>
		<% end %>

	</div>

</div>
