<a href="<%= my_oovre_path %>"><div id="oovre" class="my-oovre"><%= image_tag "oovre-logo.png", class: 'logo' %></div></a>
<div id="header">
	
	<div class="container">

		<div class="navigation">
			<ul>
				<li><a href="<%= user_home_path %>">Home</a></li>
				<li><a href="#">Mag</a></li>
				<li><a href="#">Sets</a></li>
				<li><a href="#">Stats</a></li>
			</ul>
		</div>
		
		<% if user_signed_in? %>
		<div class="user">
			<div class="action">
				<div class="welcome">Welcome back, <%= current_user.first_name %>!</div>
				<div class="logout">
					<%= link_to "Logout", destroy_user_session_path, method: :delete %>
				</div>
			</div>
			<div class="profile-img">
				<a href="<%= user_profile_path(current_user.username) %>">
				<% if current_user.avatar %>
				<%= image_tag current_user.avatar.url(:thumb), class: 'avatar' %>
				<% else %>
				<%= image_tag current_user.gravatar, class: 'avatar' %>
				<% end %>
				</a>
			</div>
		</div>
		<% else %>
		<div class="guest">
			<a href="#" class="btn primary ghost">Login</a>
			<a href="#" class="btn primary">Signup</a>
		</div>
		<% end %>

		<div class="clear"></div>

	</div>
</div>

<div id="header-padding"></div>